body {
    background: #ada397;
    color: #3e4444;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    font-size: 1.2em;
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.4em;
}

#wrapper {
    display: grid;
    grid-template-rows: 200px 120px 300px 50px;
    background: #75BEFF;
    
    min-width: 500px;
    text-align: center;
      
}

#head {
    background: #eca1a6;
    padding: 10px;
}

#actions {
    
    background: #d6cbd3;
    padding: 10px;
}


#form-field, #sendGeo {
    width: 300px;
}

input, button, #form-field {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    border-radius: 5px;
    padding: 10px;
}

#sendGeo {
    margin-top: 5px;
}

#output {
    background: #bdcebe;
    padding: 0 20px;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;  
    
}

#footer {
    background:#eca1a6;
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    padding: 5px;
}

/* MEDIA QUERIES    ------------------------ */
@media only screen and (max-width: 600px) {
    h1 {
      font-size: 2em;
    }
    h2 {
        font-size: 1.2em;
    }
  }